@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #040615;
  --primary-color: #3D806E;
  --obsidian: #040615;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040615;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}

